<% if admin_user_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_admin_user_session_path) %>
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_admin_user_session_path) %>
  </li>
<% end %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container well">
  <h4><%= AdminUser.first.email %></h4>
  <!-- Default form contact -->

    <%= form_with(url: admin_users_create_store_path, method: :post ,class:"text-center border border-light p-5") do %>

    <p class="h4 mb-4">Create Spree Shop</p>

    <%= text_field_tag(:shop_name, "", class: "form-control mb-4", placeholder: "Shop / Domain Name" ) %>
    <%= email_field_tag(:admin_email, "", class: "form-control mb-4", placeholder: "Admin Email" ) %>
    <%= password_field_tag(:admin_password, "", class: "form-control mb-4", placeholder: "Admin Password" ) %>
    <%= email_field_tag(:support_email, "", class: "form-control mb-4", placeholder: "Support Email" ) %>



    <!-- Message -->
    <div class="form-group">
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
    </div>

    <!-- Copy -->
    <div class="custom-control custom-checkbox mb-4">
      <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
      <label class="custom-control-label" for="defaultContactFormCopy">I agree with terms and conditions</label>
    </div>

    <!-- Send button -->
    <%= submit_tag "create",  class:"btn btn-info btn-block submitloader" %>

    <button class="btn btn-primary btn-block  buttonloader d-none " type="button" >
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Preparing Shop...
    </button>



<% end %>

</div>

<script>

    $(document).ready(function() {
        $(".submitloader").click(function() {
            $(this).addClass("d-none");
            $(".buttonloader").removeClass("d-none").addClass("d-block")
        });
    });

</script>